/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00FFAD;
    color: #192440;
}

.cta-light-blue {
    background: #41B8EA;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 80px;
}

/********** feature (skew background) **********/
.feature img {
    width: 100%;
    max-width: 480px;
    overflow-x: hidden;

}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #41B8EA 0); 
    overflow-x: hidden;

}

#feature-last {
    background: #41B8EA;
    /*background: #00FFAD;*/
    overflow-x: hidden;
}

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #192440;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #41B8EA;
    color: #192440;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #00FFAD;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

.flex-base {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.justify-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-sp-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.justify-sp-betwn {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-align-content-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.flex-align-content-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.flex-align-items-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex-align-items-cntr {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-align-items-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-align-items-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex-base-child {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.flex-base-child-stretch {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.marg_z_block {
    margin: 0;
    display: block;
}

.typograph {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

.w_100p {
    width: 100%;
}

.det_pad {
    padding: 8px 24px 24px;
}

.ex_container {
    border-radius: 4px;
    background-color: #eeeeee;
}

.ex_inner {
    width: 100%;
}

.ex_row_frame {
    border-radius: 2px;
    position: relative;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /* box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12); */
    background-color: #fff;
}

.ex_row_frame::before {
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    opacity: 1;
    position: absolute;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgba(0, 0, 0, 0.12);
}

.ex_row_frame[aria-expanded=true] {
    margin: 0px 0px 0px 0px;
}

.ex_row_frame:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ex_row_frame:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ex_hdr_cont {
    padding: 0 15px 0 15px;
    min-height: 48px;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    outline: none;

    position: relative;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;    

    cursor:pointer;
}

.ex_hdr_cont[aria-expanded=true] {
    min-height: 64px;
}

.ex_headings {
    margin: 12px 0;
    flex-grow: 1;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ex_headings:last-child {
    padding-right: 32px;
}

.ex_hdr_cont[aria-expanded=true] .ex_headings {
    margin: 20px 0;
}

.ex_head {
    font-size: 0.9375rem;
    flex-basis: 33.33%;
    flex-shrink: 0;
}

.ex_sec_head {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9375rem;
}

.ex_svg_cont {
    top: 50%;
    right: 8px;
    position: absolute;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;

    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.ex_hdr_cont[aria-expanded=true] .ex_svg_cont {
    transform: translateY(-50%) rotate(180deg);
}

.svg_ctrl {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.svg_style { 
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

.svg_frame {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

.ex_det_con {
    height: 0px;
    transition-duration: 208ms;    
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.ex_det_con[aria-hidden=true] {
  overflow:hidden;
}

.ex_det_con[aria-hidden=false] {
  overflow: visible;
}

.expand_marg {
    margin: 16px 0;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}
/* @media (max-width: 1280px) {
    #banner h1{
        font-size: 3.6rem;
    }
}
@media (max-width: 1366px) {
    #banner h1{
        font-size: 3.7rem;
    }
}
@media (max-width: 1594px){
    #banner h1{
        font-size: 3.9rem;
    }
}

#banner{
    width:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */
@media (max-width: 1920px){
    #banner {
        background-image: url("/static/img/bk-1920.jpg");
    }
}
@media (max-width: 1594px){
    #banner {
        background-image: url("/static/img/bk-1594.jpg");
    }
}
@media (max-width: 1366px){
    #banner{
        background-image: url("/static/img/bk-1366.jpg");
    }
}
@media (max-width: 1280px){
    #banner{
        background-image: url("/static/img/bk-1280.jpg");
    }
}
@media (max-width: 1152px){
    #banner{
        background-image: url("/static/img/bk-1152.jpg");
    }
}